[submodule "imesa"]
	path = imesa
	url = git@git.vauxoo.com:vauxoo/imesa.git
	branch = 15.0
[submodule "sh-tools"]
	path = sh-tools
	url = git@git.vauxoo.com:vauxoo/sh-tools.git
	branch = 15.0
[submodule "account-invoicing"]
	path = account-invoicing
	url = git@github.com:Vauxoo/account-invoicing.git
	branch = 15.0
