[submodule "addons-vauxoo"]
	path = addons-vauxoo
	url = git@github.com:vauxoo/addons-vauxoo
	branch = 10.0
[submodule "imesa"]
	path = imesa
	url = git@github.com:ClearCorp/imesa.git
	branch = 10.0
[submodule "mhq-odoo-addons"]
	path = mhq-odoo-addons
	url = git@github.com:minhhq09/mhq-odoo-addons
	branch = 10.0
[submodule "oca-account-financial-tools"]
	path = oca-account-financial-tools
	url = git@github.com:clearcorp/oca-account-financial-tools
	branch = 10.0
[submodule "oca-server-tools"]
	path = oca-server-tools
	url = git@github.com:clearcorp/oca-server-tools
	branch = 10.0
[submodule "oca-stock-logistics-warehouse"]
	path = oca-stock-logistics-warehouse
	url = git@github.com:clearcorp/oca-stock-logistics-warehouse
	branch = 10.0
[submodule "web"]
	path = web
	url = git@github.com:oca/web
	branch = 10.0
